html, body, #wrap {height: 100%;margin:0 3% 0 3%}
body > #wrap {height: auto; min-height: 100%;}
#main {padding-bottom: 150px;}  /* 必须使用和footer相同的高度 */
#footer {position: relative;	margin-top: -150px; /* footer高度的负值 */
	height: 150px;	clear:both;}
.clearfix:after {content: ".";	display: block;	height: 0;
	clear: both;visibility: hidden;}
.clearfix {display: inline-block;}/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}/* End hide from IE-mac */